* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar {
	position: fixed;
	height: 70px;
	width: 100%;
	justify-content: flex-end;
}

.navbar-menu {
	list-style-type: none;
	width: 33%;
}

.navbar-menu-item {
	display: inline-block;
	margin-left: 30px;
	color: rgba(255, 255, 355, 0.9);
}

.navbar-menu-item:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hero {
	height: 600px;
	width: 100%;
	background-color: purple;
	flex-direction: column;
	background-image: url("../images/landing_page_hero.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img {
	width: 500px;
	margin-right: 35px;
}

.action {
	margin-top: 35px;
	background-color: #47525e;
	padding: 12px 18px;
	border-radius: 5px;
}

.action:hover {
	color: rgba(255, 255, 255, 0.5);
}

.about {
	height: 400px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);

	color: rgba(0, 0, 0, 0.8);
	flex-direction: column;
	text-align: center;
}

.about-content {
	background-color: white;
	flex-direction: column;
	width: 70%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.25);
}

.about-content:hover {
	cursor: pointer;
	box-shadow: none;
}

.about-p {
	margin-top: 20px;
	width: 35%;
}

.features {
	min-height: 650px;
	width: 100%;
	background-color: purple;

	color: rgba(0, 0, 0, 0.8);
	flex-direction: column;
	text-align: center;
}

.features-title {
	margin-top: 10px;
	color: white;
}

.feature-cards {
	width: 80%;
	margin-top: 30px;
	margin-right: 100px;
}

.feature-card {
	width: 255px;
	height: 355px;
	margin-left: 100px;
	background-color: white;
	border-radius: 10px;
	box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.25);
	flex-direction: column;
	justify-content: flex-start;
}

.feature-card:hover {
	cursor: pointer;
	box-shadow: none;
}

.feature-card-h {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
	width: 80%;
}

.feature-card-img {
	width: 80px;
	margin-top: 20px;
}

.feature-card-p {
	margin-top: 20px;
	width: 80%;
	text-align: center;
}

.footer {
	height: 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 420px) {

	.navbar-menu {
		width: 100%;
	}

	.hero-img {
		width: 325px;
	}

	.hero-h {
		margin-top: 10px;
		font-size: 22px;
	}

	.about {
		text-align: left;
	}

	.about-title {
		font-size: 26px;
	}

	.about-p {
		width: 90%;
	}

	.feature-cards {
		width: 90%;
		flex-direction: column;
	}

	.features-title {
		margin-top: 20px;
		margin-bottom: -20px;
	}

	.feature-card {
		margin-top: 10px;
		margin-bottom: 20px;
	}

}